.wrapper {
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}

.wrapper_road {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}
.ca_btn {
  padding: 7px 30px;
  background-color: #014525;
  border-radius: 30px;
  border: 1px solid #fff;
  font-size: 18px;
}
.btn_peer {
  text-transform: none;
  color: white;
  background-color: #00331c;
  font-size: 18px;
  padding: 9px 40px;
  border-radius: 30px;
  transition: all 0.3s;
  margin-right: 15px;
  border: 2px solid #00331c;
  box-shadow: 1px 0px 11px 1px #3cdf7a;
}

.btn_peer:hover {
  background-color: transparent;
  color: #a7199b;
}

/******card section********/
.ft_card {
  text-align: center;
  background-image: linear-gradient(to bottom, #00331c86, #191919f6);
  border-radius: 8px;
  padding: 30px 25px;
  height: 350px;
}
.ft_card {
  text-align: center;
  background-image: linear-gradient(to bottom, #12803c, #191919f6);
  border-radius: 8px;
  padding: 30px 25px;
  box-shadow: 1px 0px 11px 1px #3cdf7a;
  margin: 0px 8px;
}
.img_box {
  display: flex;
  align-items: cener;
  justify-content: center;
}

/* roadmap section */

.roadmap-info .status li {
  display: list-item;
  text-align: left; /*list-style-type: circle;*/
}

img.road_img {
  width: 72px;
  display: block;
}

.road_card {
  background: #111;
  padding: 37px;
  border-radius: 10px;
  height: 530px;
  margin: 15px 4px;
  border: 1px solid #038451;
}
.img_box img {
  width: 60px;
}
.road_card h3,
.road_card h2 {
  font-family: "Simpsonfont", sans-serif;
}
.road_card ul {
  margin: 0;
  padding: 0;
  list-style-type: disc !important;
}

.road_card ul li {
  font-family: "Fishes Friends", sans-serif;
  margin-left: 12px;
}

.vertical-social .midnightHeader ul li a i {
  color: #038451;
  font-size: 20px;
  padding: 1rem;
  width: 55px;
  vertical-align: sub;
}

.footer .footer-wrapper ul.social-buttons li a {
  padding: 0.41rem 0.69rem;
  margin-right: 1rem;
  font-size: 1.125rem;
  border: 1px solid #038451;
  color: #038451;
}
.footer .footer-wrapper ul.social-buttons li a:hover {
  color: #000 !important;
  background-color: #038451 !important;
}

.neon-button {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #038451;
  border: #038451 0.125em solid;
  padding: 5px 20px;
  border-radius: 4px;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}

@media screen and (max-width: 768px) {
  .ca_btn {
    font-size: 12px;
    word-break: break-all;
    padding: 7px 10px;
  }
  .ft_card {
    margin-bottom: 35px;
  }
  .road_card {
    height: 495px;
  }
}
